/src/defimoney_monitor/*.db
/src/defimoney_monitor/*.py[cod]
/src/defimoney_monitor/.cursorignore
/src/defimoney_monitor/.vscode/
/src/defimoney_monitor/.web
/src/defimoney_monitor/__pycache__/
/src/defimoney_monitor/assets/external/
/defimoney_monitor/.venv
/src/defimoney_monitor/.env
/src/defimoney_monitor/*/__pycache__
/src/defimoney_monitor/.env

